
.featured_body {
    width: auto;
    height: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    background-color: var(--secondary-color);
    border-radius: 8px;
  }
  .featured_details {
    padding: 8px;
    width: auto;
  }
  .featured_img{
    width: auto;
    height: 180px;
    border-radius: 8px;
  }

  .featured_description {
    font-size: 12px;
  }
  .featured_duration {
   
    font-size: 12px;
  }

  .featured_icon {
    margin-right: 10px;
  }