.project {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h4 {
    color: #28a745;
}

p {
    margin: 10px 0;
}

strong {
    font-weight: bold;
}

.apply-btn {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.apply-btn:hover {
    background-color: #0056b3;
}