/* .event {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.event_title {
    color: #007BFF;
    margin-bottom: 10px;
}
.event_type {
    margin-bottom: 2px;
    font-size: 14px;
    text-transform: lowercase;
}
.event_date {
    font-size: 12px;
} */

.event {
    background-color: var(--secondary-color);
    /* background: #163f834b; */
    border-radius: 16px;
    padding: 5px 20px;
    margin: 10px 0 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 30px;
}

.event_img {
    width: auto;
    height: 100px;
    background-size: cover;
    padding: 10px 0;
}

.event_body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    position: relative;
    margin-right: 10px;
}
.event_title {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.event_type {
    margin-bottom: 2px;
    font-size: 14px;
    text-transform: lowercase;
}
.event_date {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.event_icon {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%);
}