.profile_img_card {
    width: 250px;
    background: #fff;
    border-radius: 20px;
}
.profile_img_card-body {
    text-align: center;
    width: 250px;
    text-align: center;
    height: 300px;
    padding-top: 30px;
}
.profile_img_card-avatar {
    position: relative;
}
.profile_img_card-img {
    border-radius: 50%;
    height: 120px;
    width:120px;
    background: #fff;
    margin: 20px auto 10px auto;
    background-position: center;
}
.profile_img_card-add_btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: brown;
    border: none;
    outline: none;
    text-align: center;
    padding-top: 2px;
    font-size: 18px;
    position: absolute;
    top: 70%;
    left: 60%;
    font-weight: 400;
} 
.profile_img_card-name {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    margin:0 0  20px 0;

}
.profile_img_card-type {
    color: #000;
    padding: 8px 26px 10px 26px;
    border: 1px solid #d8d8d8;
    background: #fff;
    border-radius: 30px;
    font-size: 14px;
}




.interview-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.interview-card h2 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.interview-card p {
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
}

.interview-card strong {
    font-weight: bold;
}
