.auth-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    height: 700px;
    width: 500px;
    margin: 25px;
    border: 1px solid var(--white);
    border-radius: 20px;
    background-color: var(--secondary-color);
    padding: 16px;
    float: right;
    background-image: url('../../assets/img/authbox.svg');
    background-position: center;
    background-position-y: 0px;
    background-clip:padding-box;
}
@media (max-width:320px) {
    body {
        height: 100%;
    }
    .auth-box {
        float: none;
        margin: 20px auto;
        height: 100vh;
    }
}
@media (max-width:768px) {
    .auth-box {
        float: none;
        margin: 20px auto;
        max-height: max-content;
    }
}
