:root {
  --numDays: 5;
  --numHours: 10;
  --timeHeight: 70px;
  --calBgColor: #fff1f8;
  --eventBorderColor: #f2d3d8;
  --eventColor1: #ffd6d1;
  --eventColor2: #fafaa3;
  --eventColor3: #e2f8ff;
  --eventColor4: #d1ffe6;
}

.calendar_body {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr;
  margin: 2rem;
  position: relative;
}

.timeline {
  width: 103.5%;
  margin-left: -50px;
  display: grid;
  grid-template-rows: repeat(var(--numHours), var(--timeHeight));
  position: absolute;
  height: fit-content;
  z-index: 1;
}

.time-marker {
  width: 100%;
  height: 70px;
  border: 1px dotted #b7b7b7;
  padding: 20px 8px 0 8px;
  font-size: 14px;


  /* background-image: repeating-linear-gradient(to right, black 0%, black 50%, transparent 50%, transparent 100%), repeating-linear-gradient(to right, black 0%, black 50%, transparent 50%, transparent 100%), repeating-linear-gradient(to bottom, black 0%, black 50%, transparent 50%, transparent 100%), repeating-linear-gradient(to bottom, black 0%, black 50%, transparent 50%, transparent 100%);
  background-position: left top, left bottom, left top, right top;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 50px 0px, 30px 2px, 0px 40px, 0px 50px; */

}

.days {
  display: grid;
  grid-column: 2;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}


.calendar_events {
  display: grid;
  grid-template-rows: repeat(var(--numHours), var(--timeHeight));
  border-radius: 5px;
  z-index: 99999;
  border-left: 1px dashed #c5c5c5;
  border-right: 1px dashed #c5c5c5;
}


.start-10 {
  grid-row-start: 2;

}

.start-11 {
  grid-row-start: 3;
}

.start-12 {
  grid-row-start: 4;
}

.start-1 {
  grid-row-start: 5;
}

.start-2 {
  grid-row-start: 6;
}

.end-12 {
  grid-row-end: 4;
}

.end-1 {
  grid-row-end: 5;
}

.end-3 {
  grid-row-end: 7;
}

.end-4 {
  grid-row-end: 8;
}

.end-5 {
  grid-row-end: 9;
}



.title {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.calendar_event {
  border: 1px solid var(--eventBorderColor);
  border-radius: 5px;
  padding: 1rem;
  background: white;
  z-index: 999;
}

.space,
.date {
  height: 60px
}



.corp-fi {
  background: var(--eventColor1);
}

.ent-law {
  background: var(--eventColor2);
}

.writing {
  background: var(--eventColor3);
}

.securities {
  background: var(--eventColor4);
}

.date {
  display: flex;
  gap: 1em;
  margin-bottom: 10px;
  justify-content: center;

}

.date-num {
  font-size: 3rem;
  font-weight: 600;
  display: inline;
}

.date-day {
  display: inline;
  font-size: 2.5rem;
  font-weight: 100;
  text-transform: lowercase;
  letter-spacing: 1px;
}