.academicfeed {
    margin: 10px 10px 10px 30px;
    padding: 10px;
}
.academicfeed_heading {
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 20px;
}
.academicfeed_box {
    width: 540px;
    height: 500px;
    margin: 5px;
    padding: 5px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: scroll;
}