.academicfeed {
    margin: 10px 10px 10px 30px;
    padding: 10px;
}
.academicfeed_heading {
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 30px;
}
.academicfeed_box {
    width: 100%;
    height: 500px;
    margin: 5px;
    padding: 5px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: scroll;
}

.academicfeed_post {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px auto 20px auto;
    padding: 0px 40px;
    width: 750px;
    position: relative;
}

.post_details {
    display: flex;
    justify-content: space-between;
}

.post_username {
    font-size: 16px;
    letter-spacing: 0.5px;
}
.post_post {
    background: transparent;
    border: none;
    outline: none;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
    width: auto;
}

.post_post:hover {
  color: #555;
}

.post_form {
 outline: none;
 border: none;
 padding: 16px 64px 16px 74px;
 width: 100%;
 background: var(--primary-color);
 box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
 color: var(--white);
 background-color: var(--secondary-color-a);
}

.post_form:focus {
    outline: none;
    padding: 16px 64px 16px 74px;
}


.left-10 {
    left: -14px;
}

.post_label {
position: relative;
width: 100%;
}
.post_icon {
    position: absolute;
    color: var(--white);
}
.post_icon-send {
    top: 16px;
    left: 92%;
}
.post_icon-smile {
    top: 16px;
    left: 2%;
    background: transparent;
}
.post_icon-paperclip {
    top: 16px;
    left: 6.5%;
    background: transparent;
}


.academicfeed_box::-webkit-scrollbar {
  display: none;
}